<div style="width:80%;margin:0 auto;">
	<h1>Crear Producto</h1>
	<%= form_for(@product) do |f| %>
		<% @product.errors.full_messages.each do |message| %>
			<div class="be-red top-space">
				* <%= message %>
			</div>
		<%end%>
	<div class="field">
		<%= f.text_field :name, placeholder: "Nombre producto", class:"form-control" %>
	</div>
	<div class="field">
		<%= f.text_field :description, placeholder: "categoría", class:"form-control" %>
	</div>
	<div class="field">
		<%= f.text_field :state, placeholder: "estado", class:"form-control" %>
	</div>
	<div class="field">
		<%= f.submit "Guardar", class:"btn white" %>
	</div>
<%end%>
</div>