<div style="width:60%;margin:0 auto;">
  <h1>Listado transacciones</h1>

  <table>
    <thead>
      <tr>
        <th>Usuario</th>
        <th>Producto</th>
        <th>Producto Ofrecido</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @transactions.each do |transaction| %>
        <tr>
          <td><%= transaction.user %></td>
          <td><%= transaction.product %></td>
          <td><%= transaction.productOffered %></td>
          <td><%= link_to 'Mostrar', transaction %> | </td>
          <!--td><%= link_to 'Editar', edit_transaction_path(transaction) %> | </td-->
          <td><%= link_to 'Eliminar', transaction, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>

  <%= link_to 'Realizar nueva transacción', new_transaction_path %>
</div>
