<div class="center-lg">
	<p id="notice"><%= notice %></p>

	<p>
	  <strong>Usuario:</strong>
	  <%= @transaction.user %>
	</p>

	<p>
	  <strong>Producto:</strong>
	  <%= @transaction.product %>
	</p>

	<p>
	  <strong>Producto ofrecido:</strong>
	  <%= @transaction.productOffered %>
	</p>

	<%= link_to 'Editar', edit_transaction_path(@transaction) %> |
	<%= link_to 'Regresar', transactions_path %>
</div>